@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=M+PLUS+1+Code:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    font-family: 'M PLUS 1 Code', sans-serif;
}


body {
    @include body-position;

    @media (min-width: $breakpoint-desktop) {
        max-width: 100%;
    }

    background-color: $secondary-color;
}


h1,h2,h3 {
    font-family: 'Amatic SC', cursive;
    font-weight: 400;
    margin: 10px 0;
}

h1 {
    color: $primary-color;
}

h2 {
    font-size: $fsizeHead2;
}

p {
    color: $primary-color;
}


main {
    margin: 5%;

    @media screen and (min-width: $breakpoint-desktop) {
        margin: 0 100px;
    }
}

.fiche-container {
    display: flex;
    flex-direction: column;
    @include font(18px);

}

.title-container {
	display: flex;
	flex-direction: column;

}

.projetInfo-container {
	width: 100%;

}
.wh-msk {
	background: $secondary-color;
	@include small-radius;

	@media screen and (min-width: $breakpoint-desktop) {
		@include big-radius;
	}
}

a {
    color: $primary-color;

}

.h1Size {
    font-size: $fsizeHead2;
    color: $primary-color;
}