.button {
    @include small-radius;
    @include flex-center;
    width: 230px;
    height: 50px;
    flex-shrink: 0;
    background: $primary-color;
    color: $tertiary-color;
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
}

