$primary-color: #13173E;
$secondary-color:  #E9E8ED;
$tertiary-color: #FFFFFF;

$background-gradient: radial-gradient(91.77% 181.48% at 0% 3.47%, rgba(19, 23, 62, 0.01) 0.96%, rgba(19, 23, 62, 0.3) 100%);

$breakpoint-desktop: 769px;
$wmin: 375px;
$wmax: 768px;

$fsizeHead1: 80px;
$fsizeHead2 : 40px;
$fsizeHead3: 30px;

