.card-projet {
        position: relative;
        display: flex;
        width: 650px;
        height: 400px;
        @include small-radius;
        min-width: 611px;
        transition: transform 1s;
        border: 1px solid rgba(19, 23, 62, 0.00);
        background: #E9E8ED;

        &:hover,
        &:focus {
            @include boxShadow;
        }
    
        @media screen and (min-width: $breakpoint-desktop) {
            width: 640px;
            height: 440px;
        }
    

}

.card-image {
    width: 100%;
    height: 60%;
    position: relative;
    overflow: hidden;
    
    & img {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -42%);
        @include small-radius;
        object-fit: cover;
    
    }
}


.card-projet_body {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    @include WH-full;
    @include small-radius;
    height: 40%;
    border : solid 2px black;

    & img {
      
        height: 50%;
    }

}




.cards-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    @include small-radius;
    margin: 22px 0;
    flex-wrap: wrap;

    @media screen and (min-width: $breakpoint-desktop) {
        gap: 50px;
        @include big-radius;
        margin: 43px 0;
    }
}